.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 90vh;

    padding: 2rem;
}

header {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    text-align: center;

    margin-top: 70px;
    margin-bottom: 15px;
}

header h1 {
    font-style: initial;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.2rem;

    @media (min-width: 400px) {
        font-size: 4rem;
    }
}

header blockquote {
    font-style: italic;
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 32px;
    text-wrap: balance;

    @media (min-width: 400px) {
        font-size: 1.6rem;
    }
}

.fade-1 {
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 1s;

    @starting-style {
        opacity: 0;
    }
}

.fade-2 {
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 2.5s;

    @starting-style {
        opacity: 0;
    }
}

.fade-3 {
    opacity: 1;
    transition: opacity 3s ease;
    transition-delay: 4s;

    @starting-style {
        opacity: 0;
    }
}

footer {
    font-size: 1rem;
    margin-top: auto;
    padding-top: 12px;
}

button {
    cursor: pointer;

    background: none;
    border: none;

    color: powderblue;
    transition: color 0.3s ease;

    font-size: 1.3rem;
    text-decoration: underline;
}

button:hover {
    color: #888;
}
