.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100dvh;

    padding: 1rem;
    @media (min-width: 600px) {
        padding: 2rem;
    }
}

header {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    text-align: center;

    margin-top: 70px;
    margin-bottom: 15px;
}

header h1 {
    font-style: initial;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.2rem;

    @media (min-width: 400px) {
        font-size: 4rem;
    }
}

header blockquote {
    font-style: italic;
    font-size: 1.3rem;
    margin: 0;
    margin: 32px 0;
    text-wrap: balance;

    @media (min-width: 400px) {
        font-size: 1.6rem;
    }
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 1rem;
}

button {
    cursor: pointer;

    background: none;
    border: none;

    color: powderblue;
    transition: color 0.3s ease;

    font-size: 1.3rem;
    text-decoration: underline;
}

button:hover {
    color: #888;
}
