.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

header {
  max-width: 600px;
  display: flex;
  flex-direction: column;

  text-align: center;

  margin-top: 70px;
  margin-bottom: 15px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header blockquote {
  font-style: italic;
  font-size: 1em;
  margin: 0;
  margin-bottom: 32px;
}

footer {
  font-size: 0.7em;
  margin-top: 25px;
}

button {
  cursor: pointer;

  background: none;
  border: none;

  color: navajowhite;
  transition: color 0.3s ease;

  font-size: 1.3em;
  text-decoration: underline;
}

button:hover {
  color: #888;
}
