@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.one-precept {
    margin-top: 4px;

    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one-precept p {
    margin: 10px 0;
    justify-self: center;
}

.prcpt-nbr {
    font-size: 1.7rem;
    animation: fadeIn ease 1.3s;
    animation-fill-mode: backwards;
}

.prcpt-title {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
    animation: fadeIn ease 1.3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;

    text-wrap: balance;
}

.prcpt-text {
    font-size: 1.5rem;
    text-align: center;
    animation: fadeIn ease 1.3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

    text-wrap: balance;
}

.first-prcpt {
    font-size: 1.8rem;
}

.prev-next-section {
    margin-top: 15px;

    height: 10rem;

    animation: fadeIn ease 1.3s;
    animation-delay: 4s;
    animation-fill-mode: backwards;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prev-btn {
    height: 100%;
    grid-column: 1;
    text-decoration: none;
}

.next-btn {
    height: 100%;
    grid-column: 2;
    text-decoration: none;
}
