nav {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    width: 100%;
    overflow-y: auto;

    background-color: rgba(20, 20, 20, 0.8);
    transform: translateX(-100%);
    transition: transform ease 0.5s;
}

nav.opened {
    transform: translateX(0%);
}

.grid-btn {
    margin-top: 90px;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    padding: 0 2rem;

    overflow: hidden;
}

.choose-precept button {
    text-decoration: initial;

    font-size: 1.5rem;
    font-weight: 900;
    width: 50px;
    height: 50px;

    background-color: transparent;
    color: var(--text-color);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--text-color);
    border-radius: 50%;

    box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;

    transition:
        box-shadow 0.4s ease,
        text-shadow 0.4s ease;
}

.choose-precept button:hover {
    text-shadow: 0px 0px 5px powderblue;
    box-shadow: 0 0 4px powderblue;
    text-decoration: none;
}

.selected {
    color: powderblue !important;
    border: 4px solid powderblue !important;
}

button.toggle-open-btn {
    text-decoration: initial;

    position: absolute;
    top: 16px;
    left: 16px;

    font-size: 2rem;

    background: none;
    border: none;

    cursor: pointer;
}

button.home-btn {
    position: absolute;
    top: 16px;
    left: 68px;
}
